:root {
    --bleu: #153c65;
    --orange: #ff7f00;
    --jaune: #e1c73e;
    --blanc: #ffffff;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');

}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    /*outline: 1px dotted red;*/
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 175px;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

header nav {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.navbar {
    text-align: center;
    text-transform: uppercase;
    font-family: "light";
    padding-top: 10px;
    margin-right: 85px;
}

header .navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
}
.navbar ul li a:hover {
    color: var(--orange);
}

.navbar li a {
    color: var(--blanc);
    text-decoration: none;
    margin-left: 55px;
    font-family: 'Roboto';
}

.navbar button {
    padding: 10px 20px;
    margin-left: 55px;
    background-color: var(--bleu);
    border: none;
    cursor: pointer;
}

.navbar button a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    color: var(--blanc);
}

.navbar button:hover {
    background-color: var(--orange);
    transition: 0.3s ease-out;
}

.banniere {
    position: relative;
    height: 100vh;
}

.image {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../images/fond.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.banniere .carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    width: 300%;
    transition: transform 0.4s ease;
}

.banniere .carousel .contenu {
    max-width: 100%;
    text-align: center;
    position: relative;
}

.remove-1 {
    transform: translateX(100%);
}

.active-1 {
    transition: transform 0.5s ease;
    transform: translateX(0%);
}

.active-2 {
    transition: transform 0.5s ease;
    transform: translateX(-115%);
}

.active-3 {
    transition: transform 0.5s ease;
    transform: translateX(-215%);
}

.banniere .carousel .contenu h2 {
    color: var(--blanc);
    font-size: 3em;
    text-transform: capitalize;
    padding-bottom: 50px;
    font-size: 56px;
}

.banniere .carousel .contenu h2 span {
    color: var(--orange);
}

.contenu div {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 10px 15%;
}

.contenu div p {
    color: var(--blanc);
    font-size: 1em;
    font-family: 'Roboto-light';
}

.btn1 {
    font-size: 1em;
    color: var(--blanc);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;
    transition: 0, 5s ease;

}

.btn2 {
    font-size: 1em;
    color: var(--blanc);
    background-color: var(--bleu);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;
    transition: 0, 5s ease;
}

.btn2:hover {
    background-color: var(--orange);
}

.btn1:hover {
    letter-spacing: 4px;
}

.carousel-indicators {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.carousel-indicators ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.carousel-indicators ul li {
    position: relative;
    width: 35px;
    height: 35px;
    opacity: 1;
    background-color: var(--orange);
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
}

.carousel-indicators ul li.active {
    background-color: transparent;
    border: 3px solid var(--blanc);
}


.apropos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 0 100px;
}

.apropos .img-svg {
    width: 70px;
    height: 70px;
}

.heading_container h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Roboto';
}

.heading_container p {
    font-family: 'light';
    margin-top: 10px;
    font-weight: bold;
}

.apropos .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 60px 0;
    cursor: pointer;
}

.apropos .container-box:hover{
    border-bottom: 2px solid var(--orange);
}

.apropos .content-box .img-box {
    min-width: 125px;
    min-height: 115px;
    background-color: var(--bleu);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 25px;
    box-shadow: 3px 3px 10px #050505;
}

.apropos .content-box:hover .img-box {
    background-color: var(--orange);
}

.apropos .content-box .detail-box h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.apropos .content-box .detail-box p {
    margin: 10px 0px;
    font-family: 'light';
    line-height: 0.6cm;

}

.apropos .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.about_section {
    background-color: #f7f7f7;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 32px dotted var(--bleu);
    border-top: 32px dotted var(--orange);
}

.about_section .container{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-block: 30px;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box {
    position: relative;
    width: 100%;
}

.about_section .detail-box p {
    width: 420px;
    margin-top: 25px;
    font-family: 'light';
    line-height: 0.7cm;
}

.about_section .detail-box a {
    position: relative;
    display: inline-block;
    padding: 12px 45px;
    text-decoration: none;
    background-color: var(--orange);
    color: black;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 25px;
    border-radius: 5%;
    transition: bottom 3s ease;

}

.about_section .detail-box a:hover {
    box-shadow: 0px 2px 6px #555555;
}


.client_section {
    position: relative;
    font-family: "Lato", sans-serif;
    margin-inline: 100px;
    margin-bottom: 60px;
}

.client_section .heading_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--orange);
    padding-bottom: 10px;
}

.client_section h2 {
    text-align: center;
}

.client_section .client_container .img-box {
    position: relative;
    width: 200px;
    border: 5px solid var(--orange);
    border-radius: 100%;
}

.client_section .client_container .img-box img {
    width: 100%;
    border-radius: 100%;
}

.client_section .client_container .detail-box {
    margin-top: 25px;
}

.client_section .client_container .detail-box h4 {
    text-transform: uppercase;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.client_section .client_container .detail-box h6 {
    text-transform: uppercase;
    color: var(--bleu);
}

.client_section .client_container .detail-box p {
    color: black;
    margin: 20px;
    font-family: 'light';
}

.client_section .client_container .detail-box img {
    width: 60px;
    color: var(--orange);
}

.carousel-inner {
    position: relative;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    transition: 0.4s ease;
    width: fit-content;
}

.carousel-item {
    text-align: center;
    position: relative;
    width: 180vh;
    padding-inline: 50px;
    margin-right: 50px;
}

.client_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next,
.prev {
    position: absolute;
    top: 250px;
    width: 2em;
    cursor: pointer;
}

.next {
    left: calc(100% - 2em);
}

.n-active {
    transform: translateX(-190vh);
}

.p-active {
    transform: translateX(0vh);
}

/* contact section */

.contact_section {
    padding: 0px 40px;
    margin-left: 40px;
    font-family: 'Poppins';
}

.contact_section .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contact_form-container{
    width: 200%;
}

.contact_section input {
    font-family: 'light';
    font-size: 1.1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--orange);
    width: 100%;
    margin: 25px 0;
    padding: 2px;
}

.contact_section div:nth-child(4) {
    padding-top: 30px;
    margin-bottom: 20px;
}

.contact_section input::placeholder {
    font-family: 'light';
}

.contact_section div:nth-child(4) textarea{
    font-family: 'light';
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid var(--orange);
    width: 100%;
    margin: 0 0;
    padding-left: 2px;
    padding-top: 50px;
    padding-bottom: 0px;
    outline: none;
}

.contact_form-container button {
    border: none;
    background-color: var(--bleu);
    color: var(--blanc);
    letter-spacing: 0.1em;
    font-size: 15px;
    padding: 15px 45px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.contact_form-container button:hover {
    box-shadow: 0px 2px 6px #555555;
}

.contact_img-box {
    display: flex;
    align-items: center;
}

.contact_img-box img {
    width: 100%;
}

.contact_section h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--orange);
    color: #010103;
    font-weight: 600;
    font-family: 'Roboto';
    margin-bottom: 35px;
}

/* end contact section */

/* info section */
.info_section {
    background: linear-gradient(to top, var(--bleu)50%, var(--bleu)50%);
    color: var(--blanc);
    font-family: 'Poppins';
    margin-top: 100px;
    padding-inline: 70px;
    padding-top: 90px;
}

.info_section p{
    font-family: 'light';
    line-height: 1.3em;
}

.info_logo-box {
    display: flex;
    justify-content: center;
}

.info_logo-box h2 {
    font-weight: bold;
    font-size: 2.2rem;
    padding: 5px 7px;
    margin-bottom: 40px;
    border-bottom: 1.5px solid var(--orange);
}

.info_logo-box h2 span{
    color: var(--orange);
    font-size: 2.4rem;
}

.info_section .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: auto;
    margin-bottom: 50px;
}

.info_section ul {
    padding: 0;
}

.info_section ul li {
    list-style-type: none;
    margin: 5px 0;
}

.info_section ul li a {
    font-family: 'light';
    text-decoration: none;
    color: var(--blanc);
}

.info_section ul li a:hover {
    color: var(--orange);
}

.info_section h5 {
    margin-bottom: 12px;
    font-size: 22px;
}



.info_section .form_container input {
    width: 225px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.info_section .form_container input::placeholder {
    color: #ccc8c8;
    font-family: 'light';
}

.info_section .form_container button {
    background-color: var(--orange);
    border: none;
    outline: none;
    color: var(--bleu);
    padding: 8px 30px;
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.info_section .form_container button:hover {
    box-shadow: 0px 0px 10px var(--orange);
}



.social_container {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid var(--orange);
    padding: 25px 0;
}

.info_section .social-box {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
}

.info_section .social-box img {
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
}
.info_section .social-box img:hover {
    box-shadow: 0px 0px 10px var(--orange);
}

/* end info section */

/* footer section*/

.footer_section {
    background-color: var(--orange);
    padding: 20px 15px;
    font-family: 'Poppins', sans-serif;
}

.footer_section p {
    color: var(--blanc);
    margin: 0;
    text-align: center;
}

.footer_section a {
    color: var(--blanc);
    text-decoration: none;
}

/* end footer section*/